<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Users</ion-title>
  </ion-navbar>
</ion-header>


<ion-content margin-top>
  <ion-grid margin-top>
    <ion-row>
      <ion-col col-12 col-md-10 push-md-1>

        <ion-navbar color="primary" margin-top>
          <ion-grid>
            <ion-row>
              <ion-col col-1></ion-col>
              <ion-col col-4>
                <ion-title>Name</ion-title>
              </ion-col>
              <ion-col col-3>
                <ion-title>Phone</ion-title>
              </ion-col>
              <ion-col col-2>
                <ion-title>Balance</ion-title>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-navbar>

        <ion-item *ngFor="let u of Users">
          <ion-grid>
            <ion-row >
              <ion-col col-1></ion-col>
              <ion-col col-4>{{u.Name}}</ion-col>
              <ion-col col-3>{{u.Phone}}</ion-col>
              <ion-col col-2 text-center>{{u.Balance}}</ion-col>
              <ion-col col-2>
                <button ion-button>
                  Recharge
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-grid>
    <ion-row>




      <ion-col col-12 col-md-3>
        <ion-card>
          <ion-card-content>
            <ion-card-title>{{u.Name}}</ion-card-title>
            <ion-row>
              <ion-col col-3>
                <p item-start ion-text color="primary">Email</p>
              </ion-col>
              <ion-col col-9>
                <p item-end>{{u.Email}}</p>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
 -->
  <!-- <ion-grid class="strip">
    <ion-row>
      <ion-col push-md-2 col-md-8 col-12>
        <ion-card class="roundCard flpAnim">

          <ion-row class="tableTop" padding>
            <ion-col col-12 col-md-3>
              <h2 ion-text color="tableTopC">Name</h2>
            </ion-col>
            <ion-col col-12 col-md-4>
              <h2 ion-text color="tableTopC">Email</h2>
            </ion-col>
            <ion-col col-12 col-md-2>
              <h2 ion-text color="tableTopC">Phone</h2>
            </ion-col>
          </ion-row>

          <ion-card-content>
            <ion-row padding *ngFor="let u of Users">
              <ion-col col-12 col-md-3>
                <h2>{{u.Name}}</h2>
              </ion-col>
              <ion-col col-12 col-md-4>
                <h2>{{u.Email}}</h2>
              </ion-col>
              <ion-col col-12 col-md-2>
                <h2>{{u.Phone}}</h2>
              </ion-col>
              <ion-col col-12 col-md-3 text-center>
                <button ion-button icon-only clear (click)="editUser(u)">
                  <ion-icon name="md-create"></ion-icon>
                </button>
                <button ion-button icon-only clear (click)="delConfirmUser(u)">
                  <ion-icon name="md-trash"></ion-icon>
                </button>
              </ion-col>
            </ion-row>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->


</ion-content>